<div class="col-sm-4 col-xs-12" *ngFor="let item of dadosRestaurantes">
  <a [routerLink]="[item.id,'detalhes']">
    <div class="place-info-box">
      <span class="place-info-box-icon"><img [src]="item.imagePath" /></span>

      <div class="place-info-box-content">
        <span class="place-info-box-text">{{ item.name }}</span>
        <span class="place-info-box-star"><i class="fa fa-star"></i> {{ item.rating }}</span>
        <span class="place-info-box-detail">{{ item.category }}</span>
        <span class="place-info-box-detail">{{ item.deliveryEstimate }}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
  </a>
  <!-- /.info-box -->
</div>
<!-- /.col -->